{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Add Cat, Beer or Cheesecake</h2>
    <br/>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% endblock %}